<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>TodoApplication</title>
    </head>
    
    <body>
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
  <li><a href="{{ url_for('senseis_index') }}">List senseis</a></li>
  <li><a href="{{ url_for('senseis_form') }}">Add a sensei</a></li>
	<li><a href="{{ url_for('belts_index') }}">List belts</a></li>
  <li><a href="{{ url_for('belts_form') }}">Add a belt</a></li>
  <li><a href="{{ url_for('topics_index') }}">List topics</a></li>
  <li><a href="{{ url_for('topics_form') }}">Add a topic</a></li>
      </ul>
      
      {% block body %}
      <p>
	Content.
      </p>
      {% endblock %}
    </body>
  </html>