<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Karatebase karate database application</title>
    </head>
    
    <body>
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
  <li><a href="{{ url_for('senseis_index') }}">Senseis</a></li>
	<li><a href="{{ url_for('belts_index') }}">Belts</a></li>
  <li><a href="{{ url_for('topics_index') }}">Topics</a></li>
  <li><a href="{{ url_for('events_index') }}">Events</a></li>
      </ul>
      
      {% block body %}
      <p>
	Content.
      </p>
      {% endblock %}
    </body>
  </html>