{% extends "layout.html" %}

{% block body %}
<h3>Current info</h3>
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th>Sensei</th>
      <th>logon</th>
      {% if current_user.username == 'genki' %}
      <th>id</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ senseis.name }}</td>
      <td>{{ senseis.logon }}</td>
      {% if current_user.username == 'genki' %}
      <td>{{ senseis.id }}
      </td>
      {% endif %}
    </tr>
  </tbody>  

  </table>
  {% if current_user.username == senseis.logon or current_user.username == 'genki' %}
  <h3 class="mt-4">Edit</h3>
  {% if error %}
    <div class="alert alert-warning" role="alert">
      {{ error }}
    </div>
  {% endif %}
  <form method="POST" action="{{ url_for('mod_senseis', id=senseis.id) }}">
    <label for="name">New name:</label>
    <input type="text" name="name"/>
    <label for="logon">New logon:</label>
    <input type="text" name="logon"/>
    <input type="hidden" name="id" value="{{ senseis.id }}"/>
    <input type="submit" class="btn btn-primary btn-sm" value="Change"/>
  </form>
  {% endif %}

  <h3 class="mt-4">Delete sensei</h3>
  <form method="GET" action="{{ url_for('senseis_del', id=senseis.id) }}">
    <input type="hidden" name="id" value={{ senseis.id }}/>
    <input type="submit" class="btn btn-warning mb-5" value="Delete"/>
  </form>

{% endblock %}