{% extends "layout.html" %}

{% block body %}
<h3>Current info</h3>
  <table>
    <tr>
      <th>Sensei</th>
      <th>logon</th>
      <th>id</th>
    </tr>

    <tr>
      <td>{{ senseis.name }}</td>
      <td>{{ senseis.logon }}</td>
      <td>{{ senseis.id }}
      </td>
    </tr>
    

  </table>
  <h3>Edit</h3>
  <form method="POST" action="{{ url_for('mod_senseis', id=senseis.id) }}">
    <label for="name">New name:</label>
    <input type="text" name="name"/>
    <label for="logon">New logon:</label>
    <input type="text" name="logon"/>
    <input type="hidden" name="id" value="{{ senseis.id }}"/>
    <input type="submit" class="btn btn-primary btn-sm" value="Change"/>
  </form>

  <p>Do you wish to delete this sensei? You cannot undo this!</p>
  <form method="POST" action="{{ url_for('senseis_del', id=senseis.id) }}">
    <input type="hidden" name="id" value={{ senseis.id }}/>
    <input type="submit" class="btn btn-warning" value="Delete"/>
  </form>

{% endblock %}