{% extends "layout.html" %}

{% block body %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<h3>Senseis</h3>
{% if current_user.is_authenticated %}
<a href="{{ url_for('senseis_form') }}">Add a sensei</a>
{% endif %}
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th>Name</th>
      {% if current_user.is_authenticated %}
      <th>Logon</th>
      {% endif %}
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for s in senseis %}
    <tr>
      <td>{{ s.name }}</td>
      {% if current_user.is_authenticated %}
      <td>{{ s.logon }}</td>
      {% endif %}
      <td>
        {% if current_user.is_authenticated %}
        <form method="POST" action="{{ url_for('edit_senseis', id=s.id) }}">
          <input type="submit" class="btn btn-primary btn-sm" value="Edit"/>
        </form>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  <tbody>
  </table>

{% endblock %}