{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Name</th>
      <th>Logon</th>
      <th>id</th>
      <th></th>
    </tr>
    {% for s in senseis %}
    <tr>
      <td>{{ s.name }}</td>
      <td>{{ s.logon }}</td>
      <td>{{ s.id }}</td>
      <td>
        <form method="POST" action="{{ url_for('edit_senseis', id=s.id) }}">
          <input type="submit" value="Edit"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
  <a href="{{ url_for('senseis_form') }}">Add a sensei</a>
{% endblock %}