{% extends "layout.html" %}

{% block body %}
{% if error %}
<div class="alert alert-danger" role="alert">
  {{ error }}
</div>
{% endif %}
<form method="POST" action="{{ url_for('change_pw') }}">
  <table class="table">
    <tr>
      <td>
	{{ form.old.label }}
      </td>
      <td>
	{{ form.old }}
      </td>
    </tr>
    <tr>
      <td>
	{{ form.new1.label }}
      </td>
      <td>
	{{ form.new1 }}
      </td>
    </tr>
    <tr>
      <td>
	{{ form.new2.label }}
      </td>
      <td>
	{{ form.new2 }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
	<input type="submit" class="btn btn-primary" value="Change pw"/>
      </td>
    </tr>
</form>
{% endblock %}