{% extends "layout.html" %}

{% block body %}
<h3>Current info</h3>
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th>Topic</th>
      {% if current_user.username == 'genki' %}
      <th>id</th>
      {% endif %}
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ topics.desc }}</td>
      {% if current_user.username == 'genki' %}
      <td>{{ topics.id }}</td>
      {% endif %}
    </tr>
    </tbody>

  </table>
  <h3>Edit</h3>

  <ul>
    {% if error %}
    <div class="alert alert-warning" role="alert">
      {{ error }}
    </div>
    {% endif %}
  </ul>
  <form method="POST" action="{{ url_for('mod_topics', id=topics.id) }}">
    <label for="desc">New description:</label>
    <input type="text" name="desc"/>
    <input type="hidden" name="id" value="{{ topics.id }}"/>
    <input type="submit" class="btn btn-primary btn-sm" value="Change"/>
  </form>

  <p>Do you wish to delete the description? You cannot undo this!</p>
  <form method="POST" action="{{ url_for('topics_del', id=topics.id) }}">
    <input type="hidden" name="id" value={{ topics.id }}/>
    <input type="submit" class="btn btn-warning" value="Delete"/>
  </form>

{% endblock %}