{% extends "layout.html" %}

{% block body %}
<h3>Current info</h3>
  <table>
    <tr>
      <th>Topic</th>
      <th>id</th>
      <th></th>
    </tr>

    <tr>
      <td>{{ topics.desc }}</td>
      <td>{{ topics.id }}</td>
      <td>
        
      </td>
    </tr>
    

  </table>
  <h3>Edit</h3>

  <form method="POST" action="{{ url_for('mod_topics', id=topics.id) }}">
    <label for="desc">New description:</label>
    <input type="text" name="desc"/>
    <input type="hidden" name="id" value="{{ topics.id }}"/>
    <input type="submit" class="btn btn-primary btn-sm" value="Change"/>
  </form>

  <p>Do you wish to delete the description? You cannot undo this!</p>
  <form method="POST" action="{{ url_for('topics_del', id=topics.id) }}">
    <input type="hidden" name="id" value={{ topics.id }}/>
    <input type="submit" class="btn btn-warning" value="Delete"/>
  </form>

{% endblock %}