{% extends "layout.html" %}

{% block body %}
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th>Topic</th>
      <th></th>
    </tr>
   </thead>
   <tbody>
    {% for t in topics %}
    <tr>
      <td>{{ t.desc }}</td>
      <td>
        {% if current_user.is_authenticated %}
        <form method="POST" action="{{ url_for('edit_topics', id=t.id) }}">
          <input type="submit" class="btn btn-primary btn-sm" value="Edit"/>
        </form>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
  {% if current_user.is_authenticated %}
  <a href="{{ url_for('topics_form') }}">Add a topic</a>
  {% endif %}
{% endblock %}