{% extends "layout.html" %}

{% block body %}
<h3>Current info</h3>
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th>Belt</th>
      {% if current_user.username == 'genki' %}
      <th>id</th>
      {% endif %}
    </tr>
    </head>
    <tbody>
    <tr>
      <td>{{ belts.belt }}</td>
      {% if current_user.username == 'genki' %}
      <td>{{ belts.id }}</td>
      {% endif %}
    </tr>
    </tbody>

  </table>
  <h3 class="mt-4">Delete belt</h3>
<p>Unlike other items, you are not supposed to edit a belt. If there is a typo, please delete
  the belt and add a new one.
</p>
  <p>Do you wish to delete this belt? You cannot undo this!</p>
  <form method="POST" action="{{ url_for('belts_del', id=belts.id) }}">
    <input type="hidden" name="id" value={{ belts.id }}/>
    <input type="submit" class="btn btn-warning" value="Confirm deletion"/>
  </form>

{% endblock %}