{% extends "layout.html" %}

{% block body %}
{% if error %}
<div class="alert alert-warning" role="alert">
  {{ error }}
</div>
{% endif %}
<h3>Current info</h3>
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Date & time</th>
      <th>Info</th>
      {% if current_user.username == 'genki' %}
      <th>id</th>
      {% endif %}
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ events.name }}</td>
      <td>{{ events.day }}<br>{{ events.time }}</td>
      <td>{{ events.info }}</td>
      {% if current_user.username == 'genki' %}
      <td>{{ events.id }}</td>
      {% endif %}
    </tr>
    </tbody>

  </table>
  <h3>Belts</h3>
  <table class="table">
    <col width="50%">
    <col width="50%">
    <tr>
      <th>Selected</th>
      <th>Unselected</th>
    </tr>

    <tr>
      <td>{% for b in events.belt_list() %}

        <form method="POST" action="{{ url_for('del_belt', id=events.id, b_id=b.b_id) }}">
          <input type="submit" class="btn btn-secondary btn-sm" value="Remove {{ b.belt }}"/>
        </form>

        {% endfor %}</td>
      <td>{% for b in events.non_belt_list() %}

        <form method="POST" action="{{ url_for('add_belt', id=events.id, b_id=b.b_id) }}">
          <input type="submit" class="btn btn-primary btn-sm" value="Add {{ b.belt }}"/>
        </form>

        {% endfor %}</td>
    </tr>
  </table>
  <h3>Topics</h3>
  <table class="table">
    <col width="50%">
    <col width="50%">
    <tr>
      <th>Selected</th>
      <th>Unselected</th>
    </tr>

    <tr>
      <td>{% for t in events.topic_list() %}

        <form method="POST" action="{{ url_for('del_topic', id=events.id, t_id=t.t_id) }}">
          <input type="submit" class="btn btn-secondary btn-sm" value="Remove {{ t.desc }}"/>
        </form>

        {% endfor %}</td>
      <td>{% for t in events.non_topic_list() %}

        <form method="POST" action="{{ url_for('add_topic', id=events.id, t_id=t.t_id) }}">
          <input type="submit" class="btn btn-primary btn-sm" value="Add {{ t.desc }}"/>
        </form>

        {% endfor %}</td>
    </tr>
  </table>
  <h3>Senseis</h3>
  <table class="table">
    <col width="50%">
    <col width="50%">
    <tr>
      <th>Selected</th>
      <th>Unselected</th>
    </tr>

    <tr>
      <td>{% for s in events.sensei_list() %}

        <form method="POST" action="{{ url_for('del_sensei', id=events.id, s_id=s.s_id) }}">
          <input type="submit" class="btn btn-secondary btn-sm" value="Remove {{ s.name }}"/>
        </form>

        {% endfor %}</td>
      <td>{% for s in events.non_sensei_list() %}

        <form method="POST" action="{{ url_for('add_sensei', id=events.id, s_id=s.s_id) }}">
          <input type="submit" class="btn btn-primary btn-sm" value="Add {{ s.name }}"/>
        </form>

        {% endfor %}</td>
    </tr>
  </table>
  <h3>Edit</h3>
  <form method="POST" action="{{ url_for('mod_events', id=events.id) }}">
    <table class="table">
      <tr>
  <td>
    {{ form.name.label }}
  </td>
  <td>
    {{ form.name }}
  </td>
      </tr>
      <tr>
        <td>
          {{ form.day.label }}
        </td>
        <td>
          {{ form.day }}
        </td>
      </tr>
      <tr>
        <td>
          {{ form.time.label }}
        </td>
        <td>
          {{ form.time }}
        </td>
      </tr>
      <tr>
        <td>
          {{ form.info.label }}
        </td>
        <td>
          {{ form.info }}
        </td>
      </tr>
      <tr>
  <td colspan="2">
    <input type="hidden" name="id" value="{{ events.id }}"/>
    <input type="submit" class="btn btn-primary btn-sm" value="Change"/>
  </td>
      </tr>
  </table>
  </form>
  <p>Nb! Please use 'd.m.yyyy' format for 'Day'. Unknown inputs will be interpreted as 'today'.</p>

  <p>Do you wish to delete this event? You cannot undo this!</p>
  <form method="POST" action="{{ url_for('events_del', id=events.id) }}">
    <input type="hidden" name="id" value={{ events.id }}/>
    <input type="submit" class="btn btn-warning" value="Delete"/>
  </form>

{% endblock %}