{% extends "layout.html" %}

{% block body %}
<p>Current info</p>
  <table>
    <tr>
      <th>Name</th>
      <th>Date & time</th>
      <th>Info</th>
      <th>id</th>
    </tr>

    <tr>
      <td>{{ events.name }}</td>
      <td>{{ events.day }} {{ events.time }}</td>
      <td>{{ events.info }}</td>
      <td>{{ events.id }}</td>
    </tr>
    

  </table>
  <p>Belts</p>
  <table>
    <tr>
      <th>For this event</th>
      <th>Not for this event</th>
    </tr>

    <tr>
      <td>{% for b in belts %}
        {% if events.id == b.needed_id %}
        <form method="POST" action="{{ url_for('del_belt', id=events.id, b_id=b.b_id) }}">
          <input type="submit" value="Remove {{ b.belt }}"/>
        </form>
        {%  endif %}
        {% endfor %}</td>
      <td>{% for b in belts %}
        {% if events.id != b.needed_id %}
        <form method="POST" action="{{ url_for('add_belt', id=events.id, b_id=b.b_id) }}">
          <input type="submit" value="Add {{ b.belt }}"/>
        </form>
        {%  endif %}
        {% endfor %}</td>
    </tr>
    

  </table>
  <p>Edit</p>
  <form method="POST" action="{{ url_for('mod_events', id=events.id) }}">
    <table>
      <tr>
  <td>
    {{ form.name.label }}
  </td>
  <td>
    {{ form.name }}
  </td>
      </tr>
      <tr>
        <td>
          {{ form.day.label }}
        </td>
        <td>
          {{ form.day }}
        </td>
      </tr>
      <tr>
        <td>
          {{ form.time.label }}
        </td>
        <td>
          {{ form.time }}
        </td>
      </tr>
      <tr>
        <td>
          {{ form.info.label }}
        </td>
        <td>
          {{ form.info }}
        </td>
      </tr>
      <tr>
  <td colspan="2">
    <input type="hidden" name="id" value="{{ events.id }}"/>
    <input type="submit" value="Change"/>
  </td>
      </tr>
  </table>
  </form>
  <p>Nb! Please use 'd.m.yyyy' format for 'Day'. Unknown inputs will be interpreted as 'today'.</p>

  <p>Do you wish to delete this event? You cannot undo this!</p>
  <form method="POST" action="{{ url_for('events_del', id=events.id) }}">
    <input type="hidden" name="id" value={{ events.id }}/>
    <input type="submit" value="Delete"/>
  </form>

{% endblock %}