{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Name</th>
      <th>Date & time</th>
      <th>Info</th>
      <th>id</th>
      <th></th>
    </tr>
    {% for e in events %}
    <tr>
      <td>{{ e.name }}</td>
      <td>{{ e.day }} {{ e.time }}</td>
      <td>{{ e.info }}</td>
      <td>{{ e.id }}</td>
      <td>
        <form method="POST" action="{{ url_for('edit_events', id=e.id) }}">
          <input type="submit" value="Edit"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}