{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('events_create') }}">
  <table>
    <tr>
<td>
  {{ form.name.label }}
</td>
<td>
  {{ form.name }}
</td>
<td><ul>
  {% for error in form.name.errors %}
  <li>{{ error }}</li>
  {% endfor %}
</ul></td>
    </tr>
    <tr>
      <td>
        {{ form.day.label }}
      </td>
      <td>
        {{ form.day }}
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        {{ form.time.label }}
      </td>
      <td>
        {{ form.time }}
      </td>
      <td><ul>
        {% for error in form.time.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul></td>
    </tr>
    <tr>
      <td>
        {{ form.info.label }}
      </td>
      <td>
        {{ form.info }}
      </td>
      <td></td>
    </tr>
    <tr>
<td colspan="2">
  <input type="submit" class="btn btn-primary btn-sm" value="Add a new event"/>
</td>
    </tr>
</table>
</form>
<p class="alert alert-info my-3">Nb! Please use 'd.m.yyyy' format for 'Day'. Unknown inputs or the past will be interpreted as 'today'.</p>
{% endblock %}