{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('events_create') }}">
  <table>
    <tr>
<td>
  {{ form.name.label }}
</td>
<td>
  {{ form.name }}
</td>
    </tr>
    <tr>
      <td>
        {{ form.day.label }}
      </td>
      <td>
        {{ form.day }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.time.label }}
      </td>
      <td>
        {{ form.time }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.info.label }}
      </td>
      <td>
        {{ form.info }}
      </td>
    </tr>
    <tr>
<td colspan="2">
  <input type="submit" class="btn btn-primary btn-sm" value="Add a new event"/>
</td>
    </tr>
</table>
</form>
<p>Nb! Please use 'd.m.yyyy' format for 'Day'. Unknown inputs will be interpreted as 'today'.</p>
{% endblock %}